<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php" colors="true">

    <testsuites>
        <testsuite name="Jelmer Snoeck Coding Kata Eight Solution">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <directory>./Tests</directory>
            <directory>./vendor</directory>
        </whitelist>
    </filter>
</phpunit>
